!! Colorscheme

! special
*.foreground:   #ffffff
*.background:   #181818
*.cursorColor:  #ffffff

! black
*.color0:       #000000
*.color8:       #666666

! red
*.color1:       #CD3131
*.color9:       #f14c4c

! green
*.color2:       #0DBC79
*.color10:      #23d18b

! yellow
*.color3:       #e5e510
*.color11:      #f5f543

! blue
*.color4:       #2472c8
*.color12:      #3b8eea

! magenta
*.color5:       #bc3fbc
*.color13:      #d670d6

! cyan
*.color6:       #11a8cd
*.color14:      #29b8db

! white
*.color7:       #e5e5e5
*.color15:      #e5e5e5

xterm*faceName: xft:Liberation Mono:pixelsize=14:antialias=true

!! URxvt Appearance
URxvt.font: xft:Liberation Mono:pixelsize=14:antialias=true:autohint=true
!URxvt.font: xft:Mono:pixelsize=14:antialias=true
!URxvt.font: xft:Iosevka:pixelsize=12:antialias=true
!URxvt.boldFont: xft:
!URxvt.italicFont: xft:DejaVu Sans Mono:pixelsize=15,style=Book
!URxvt.boldItalicfont: xft:DejaVu Sans Mono:pixelsize=15,style=Book
URxvt.letterSpace: 0
URxvt.lineSpace: 0
URxvt.geometry: 92x24
!URxvt.internalBorder: 24
URxvt.internalBorder: 4
URxvt.cursorBlink: true
URxvt.cursorUnderline: false
URxvt.saveline: 2048
URxvt.scrollBar: false
URxvt.scrollBar_right: false
URxvt.urgentOnBell: true
URxvt.depth: 24
URxvt.iso14755: false

!! URxvt Functions
URxvt.perl-ext: ext
URxvt.perl-ext-common: font-size,selection-to-clipboard,pasta
URxvt.keysym.Shift-Control-C:    perl:keyboard-select:activate
URxvt.keysym.Shift-Control-V:    perl:pasta:paste
! Comment this if you don't want copy when text is selected
!URxvt.clipboard.autocopy: true
URxvt.keysym.C-j:       perl:font-size:increase
URxvt.keysym.C-k:       perl:font-size:decrease

Xcursor.theme: Adwaita
Xcursor.size: 22
